<section class="hero is-danger" (click)="skillsHidden = !skillsHidden">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-weight-bold">
                Skills
            </h1>
            <h3 class="subtitle">
                "Any sufficiently advanced technology is indistinguishable from magic."

                ― Arthur C. Clarke
            </h3>
        </div>
    </div>
</section>


<div>
    <!--<div style="width: 40%;">-->
        <!--<canvas-->
            <!--baseChart-->
            <!--[chartType]="'line'"-->
            <!--[datasets]="chartData"-->
            <!--[labels]="chartLabels"-->
            <!--[options]="chartOptions"-->
            <!--[legend]="true"-->
            <!--(chartClick)="onChartClick($event)">-->
        <!--</canvas>-->
    <!--</div>-->
</div>


<div *ngFor="let skill of skills | async" [hidden]="skillsHidden">
    <label style="text-align: center">{{skill.name}}</label>
    <skill-chart [value]="skill.value" [title]="skill.name"></skill-chart>
</div>
